<section class="top" id="home">
    <div class="container top__inner">

        <div class="top__photo">
            <img class="top__circle" src="/assets/ui/circle-bg.png" alt="" />
            <img class="top__profile" src="/assets/images/profile1.png" alt="Kristian Kupsch" />
        </div>

        <div class="top__title">
            <img class="top__logo" src="/assets/ui/logo.png" alt="Logo" />

            <h1>Kristian Kupsch</h1>
            <p class="subtitle">FRONTEND DEVELOPER</p>

            <a class="top__down" href="#why" aria-label="Scroll down">
                <img src="/assets/ui/arrow-down.png" alt="" />
            </a>
        </div>

        <div class="top__icons">
            <a href="mailto:kkupsch@hotmail.de" aria-label="Email">
                <img src="icons/mail-hell.png" alt="" />
            </a>

            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <img src="icons/github-hell.png" alt="" />
            </a>

            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <img src="icons/linkedin-hell.png" alt="" />
            </a>
        </div>

    </div>
</section>