.navbar {
    background: #89bcd9;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__inner {
    height: 104px;
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    align-items: center;
}

.navbar__logo {
    display: flex;
    width: 58px;
    margin-left: 100px;
}

.navbar__links {
    display: flex;
    justify-content: center;
    gap: 196px;
    font-weight: 500;
    font-size: 26px;
}

.navbar__links a {
    color: #262E34;
    text-decoration: none;
}

.navbar__lang {
    display: flex;
    gap: 15px;
}

.navbar__lang button {
    border: 1px solid rgba(38, 51, 59, 0.35);
    background: transparent;
    padding: 8px 14px;
    border-radius: 18px;
    cursor: pointer;
}

.navbar__lang .active {
    color: white;
}
