* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-padding-top: 104px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 104px; // Höhe deiner Navbar
}

body {
    font-family: "Josefin Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.section-title {
    font-family: "Anta", sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #89bcd9;
    text-align: center;
    letter-spacing: 1px;
}